**/.DS_Store
cooking-react-next/public/next.svg
cooking-react-next/public/vercel.svg
cooking-react-next/public/**.mp4
cooking-react-next/secret.json
backend/data/**
cooking-react-next/public/**.json
cooking-react-next/public/offline_audio/**
